.navbarContainer {
    display: flex;
    flex-direction: row;
    padding-left: 12rem;
    padding-right: 12rem;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
.logo {
   
    display: flex;
  }
  
  .logoImage {
   
    object-fit: contain;
  }
  .navLinks {
    display: flex;
    gap: 4rem; /* gap-16 in Tailwind (4rem) */
    line-height: 1.75; /* leading-loose in Tailwind */
    font-weight: 600; 
    list-style: none;
    margin: 0 auto;
   
  }
  
  .navLinkItem {
    transition: transform 0.3s ease-out; 
    margin: auto;
  }
  
  .navLinkItem:hover {
    transform: scaleX(1.10); 
  }
  
  .activeNavLink {
    border-bottom: 2px solid #2563EB; 
  
  @media (max-width: 968px) {
    .navLinks {
      display: none; 
    }
  }
}
.searchContainer {
    background-color: #f4f4f5;
    padding-right: 0.75rem; /* pr-3 in Tailwind */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); /* shadow-md in Tailwind */
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem; /* rounded-lg in Tailwind */
  }
  
  .searchInput {
    padding-left: 1.25rem; /* px-5 in Tailwind */
    padding-right: 1.25rem;
    padding-top: 0.5rem; /* py-2 in Tailwind */
    padding-bottom: 0.5rem;
    background-color: #f4f4f5;
    border: none;
    outline: none;
  }
  
  .searchIcon {
    cursor: pointer;
  }
  
  .menuIcon {
    display: flex;
  }
  
  .menuIconSvg {
    cursor: pointer;
  }
  
  @media (min-width: 1024px) { 
    .menuIcon {
      display: none;
    }
  }
  







